.p-index {
  display: flex;
  flex-direction: column; }
  .p-index .header {
    padding: 0 20px;
    line-height: 50px;
    background: #F1F1F1;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between; }
    .p-index .header .logo {
      width: 283px;
      text-align: center;
      font-size: 20px;
      padding: 0 20px 0 0;
      color: #3eaaaf;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .p-index .header .nav {
      width: 100%; }
    .p-index .header .link {
      display: inline-block;
      line-height: 50px;
      padding: 0 20px;
      color: #666; }
      .p-index .header .link.active {
        background: #e8e8e8; }
      .p-index .header .link:hover {
        text-decoration: underline; }
    .p-index .header .user .ant-dropdown-link {
      white-space: nowrap; }
  .p-index .container {
    height: 100%;
    padding-bottom: 50px; }
